<%- include("partials/header") %> 
<link rel="stylesheet" href="/css/styles.css">
<%- include("partials/headerdown") %> 
<h1>ABOUT US</h1>
<p><%= aboutcontent %> </p>
<p><%= aboutcontent %></p>

<%- include("partials/footer") %>  