<%- include("partials/header") %> 
<link rel="stylesheet" href="/css/styles.css">
<%- include("partials/headerdown") %> 

<h1><%= title %> </h1>
<p><%= content %></p>

<%- include("partials/footer") %> 